{
  "arrowParens": "always",
  "trailingComma": "none",
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "printWidth": 80,
  "jsxBracketSameLine": true,
  "bracketSpacing": false
}